body {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0; 
}

.voucher {
  float: left;
  margin: 0 20px 20px 0; 
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 400px; 
  height: 500px; 
  border: 1px dashed #000000;

}

.line1 {
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 20px auto 10px; 
  width: 100%; 
  text-align: center; 
}

.line2,
.line3 {
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  margin-left: 20px;
}

.qrcode {
  width: 250px; 
  height: 250px;
  margin: 40px auto 100px; 
  display: block; 
}


.voucher-number {
  font-size: 20px;
  color: rgb(0, 0, 0);
}


